# Clock
NET "clk50mhz" LOC = P55;
NET "clk50mhz" IOSTANDARD = LVTTL;
#NET "clk50mhz" CLOCK_DEDICATED_ROUTE = FALSE;


# SRAM
NET "sram_addr<0>"    LOC="P141"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"    LOC="P139"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"    LOC="P137"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"    LOC="P134"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"    LOC="P133"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"    LOC="P120"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"    LOC="P118"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"    LOC="P116"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"    LOC="P114"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"    LOC="P112"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<10>"   LOC="P104"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<11>"   LOC="P102"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<12>"   LOC="P101"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<13>"   LOC="P100"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<14>"   LOC="P111"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<15>"   LOC="P131"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<16>"   LOC="P138"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<17>"   LOC="P140"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<18>"   LOC="P142"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<19>"   LOC="P105"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<20>"   LOC="P143"  | IOSTANDARD = LVCMOS33;
#NET "sram_addr<19>"     IOSTANDARD = LVCMOS33;
#NET "sram_addr<20>"     IOSTANDARD = LVCMOS33;

NET "sram_data<0>"    LOC="P132"  | IOSTANDARD = LVCMOS33;
NET "sram_data<1>"    LOC="P127"  | IOSTANDARD = LVCMOS33;
NET "sram_data<2>"    LOC="P124"  | IOSTANDARD = LVCMOS33;
NET "sram_data<3>"    LOC="P123"  | IOSTANDARD = LVCMOS33;
NET "sram_data<4>"    LOC="P115"  | IOSTANDARD = LVCMOS33;
NET "sram_data<5>"    LOC="P117"  | IOSTANDARD = LVCMOS33;
NET "sram_data<6>"    LOC="P119"  | IOSTANDARD = LVCMOS33;
NET "sram_data<7>"    LOC="P126"  | IOSTANDARD = LVCMOS33;

NET "sram_we_n"       LOC="P121"  | IOSTANDARD = LVCMOS33;
#NET "sram_ub_n"       LOC="E13"  | IOSTANDARD = LVCMOS33;
#NET "sram_lb_n"       LOC="C11"  | IOSTANDARD = LVCMOS33;


# Video
#NET "VGA_R<5>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C7  - 0.5K || 10K
#NET "VGA_R<4>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C6  - 1K
#NET "VGA_R<3>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C5  - 2K
NET "VGA_R<2>" LOC = "P81" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C4  - 4K
NET "VGA_R<1>" LOC = "P80" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C14 - 8K
NET "VGA_R<0>" LOC = "P79" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C12 - 16K
#NET "VGA_G<5>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B7  - 0.5K || 10K
#NET "VGA_G<4>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B6  - 1K
#NET "VGA_G<3>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B5  - 2K
NET "VGA_G<2>" LOC = "P84" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B4  - 4K
NET "VGA_G<1>" LOC = "P83" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B13 - 8K
NET "VGA_G<0>" LOC = "P82" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B12 - 16K
#NET "VGA_B<5>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B3  - 0.5K || 10K
#NET "VGA_B<4>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B2  - 1K
#NET "VGA_B<3>" LOC = "" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B1  - 2K
NET "VGA_B<2>" LOC = "P93" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B0  - 4K
NET "VGA_B<1>" LOC = "P92" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B15 - 8K
NET "VGA_B<0>" LOC = "P88" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B14 - 16K
NET "hsync" LOC = "P87" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C3  - 75
NET "vsync" LOC = "P85" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C2  - 75
NET "PAL_o" LOC = P66;
NET "PAL_o" IOSTANDARD = LVCMOS33;
NET "NTSC_o" LOC = P67;
NET "NTSC_o" IOSTANDARD = LVCMOS33;

# LEDs and buttons
NET "testled0"  LOC = "P11" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 |PULLDOWN ;	#A1  - 330
#NET "testled1"  LOC = "R9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 |PULLDOWN ;	#A2  - 330
# NET "btn<1>"  LOC = "R7" |IOSTANDARD = LVTTL |PULLUP ;	#B10 - to +
# NET "btn<0>"  LOC = "T8" |IOSTANDARD = LVTTL |PULLUP ;	#B8  - to +

#NET debugled<7>           LOC="A14"  | IOSTANDARD = LVCMOS33;
#NET debugled<6>           LOC="B14"  | IOSTANDARD = LVCMOS33;
#NET debugled<5>           LOC="C13"  | IOSTANDARD = LVCMOS33;
#NET debugled<4>           LOC="A13"  | IOSTANDARD = LVCMOS33;
#NET debugled<3>           LOC="B12"  | IOSTANDARD = LVCMOS33;
#NET debugled<2>           LOC="A12"  | IOSTANDARD = LVCMOS33;
#NET debugled<1>           LOC="C11"  | IOSTANDARD = LVCMOS33;
#NET debugled<0>           LOC="A11"  | IOSTANDARD = LVCMOS33;

# Keyboard
NET "clkps2"	LOC="P99"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # C0
NET "dataps2"	LOC="P98"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # C1

# Mouse
# NET "PS2DATB"	LOC="P11"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # A12
# NET "PS2CLKB"	LOC="M10"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # A13

# Audio
NET "audioL"	LOC="P10"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW;          # A14
NET "audioR"	LOC="P9"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW;          # A15

## Joysticks
#NET "joy_data"        LOC="T13"  | IOSTANDARD = LVCMOS33;
#NET "joy_load_n"      LOC="T12"  | IOSTANDARD = LVCMOS33;
#NET "joy_clk"         LOC="R12"  | IOSTANDARD = LVCMOS33;
## JOYSTICK
NET "JOY_U" LOC = P1 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "JOY_D" LOC = P5 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "JOY_L" LOC = P6 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "JOY_R" LOC = P7 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "JOY_A" LOC = P2 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "JOY_B"    LOC="P8"  | IOSTANDARD = LVCMOS33 | PULLUP;
## PIN JOYSPLITTER
NET "JOY_C"    LOC="P39"  | IOSTANDARD = LVCMOS33 | PULLUP;  
## JOYSTICK 2 - ZXUNO VGA2M
NET "JOY2_U"       LOC="P26"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "JOY2_D"       LOC="P30"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "JOY2_L"       LOC="P34"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "JOY2_R"       LOC="P41"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "JOY2_A"       LOC="P46"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "JOY2_B"       LOC="P47"  | IOSTANDARD = LVCMOS33 | PULLUP;

# SD card
NET "sd_cs_n"         LOC="P59"   | IOSTANDARD = LVCMOS33;
NET "sd_clk"          LOC="P75"   | IOSTANDARD = LVCMOS33;
NET "sd_mosi"         LOC="P74"   | IOSTANDARD = LVCMOS33;
NET "sd_miso"         LOC="P78"   | IOSTANDARD = LVCMOS33 | PULLUP;


NET clk50mhz TNM_NET=clk50mhz;
TIMESPEC TS_CLK50MHZ = PERIOD CLK50MHZ 20.00 ns HIGH 50%;
#PIN "pll_dual/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "pll_dual/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;